# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model files (optional, if you don't want to push large files)
model/
documents/

# Cache / logs
*.log
